@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Segoe UI', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .glass {
    @apply bg-white/90 backdrop-blur-md dark:bg-slate-900/90;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}

/* Custom Scrollbar for hidden look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
